<p>employee works login!</p>
<form class="form-inline" (ngSubmit)="submit()">
  <div *ngFor="let imp of  frm; index as i ">
    <label for="email">Email:</label>
    <input type="email" id="email" placeholder="Enter email" name="email{{i}}" [(ngModel)]="imp.uname">
    <label for="pwd">Password:</label>
    <input type="password" id="pwd" placeholder="Enter password" name="pswd{{i}}" [(ngModel)]="imp.psw">
    <label>
      <input type="checkbox" name="remember{{i}}"> Remember me
    </label>
    <span (click)="rempveControl(i)" *ngIf="i!=0">-</span>
  </div>
  <br/>
  <button type="submit">Submit</button> <span (click)="AddControl()">+</span>
</form>

<div class="panel panel-primary" *ngFor="let emps of empList">
  <div class="panel-heading">
    <h3 class="panel-titel">{{emps.name}}</h3>
  </div>
  <div class="panel-body">
    <div class="col-xs-10">
      <div class="row">
        <div class="col-xs-4"><img [src]="emps.photoPath"  class="image"/></div>
        <div class="col-xs-8">
          <div class="row">
            <div class="col-xs-6">
              Name
            </div>
            <div class="col-xs-6">
              : {{emps.name}}
            </div>
            <div class="col-xs-6">
              Gender
            </div>
            <div class="col-xs-6">
              : {{emps.gender}}
            </div>
            <div class="col-xs-6">
              Email
            </div>
            <div class="col-xs-6">
              : {{emps.email}}
            </div>
            <div class="col-xs-6">
              Department
            </div>
            <div class="col-xs-6">
              : {{emps.department}}
            </div>
            <div class="col-xs-6">
              Contact NO
            </div>
            <div class="col-xs-6">
              : {{emps.phoneNumber}}
            </div>
          <div class="col-xs-6">
            DOB
          </div>
          <div class="col-xs-6">
            : {{emps.dataOfBirth | date }}
          </div>
          <div class="col-xs-6">
            Employee ID
          </div>
          <div class="col-xs-6">
            : {{emps.id}}
          </div>






        </div>
      </div>
    </div>
  </div>
</div>
</div>