<p>Login</p>
<div>
    {{Text}}
</div>
<form [formGroup]="signup"  (ngSubmit)="ondata(signup)">
        <div class="imgcontainer">
          <img src="./assets/img_avatar2.png" alt="Avatar" class="avatar">
        </div>
      
        <div class="container">
            <label for="gender"><b>Gender</b></label>
            <select name="gender" formControlName="gender" >
                <option selected="selected">select</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
            </select>
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required formControlName="uname"> 
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required formControlName="psw">
      
          <button type="submit">Login</button><button (click)="reset()" type="button">Reset</button>
          <button (click)="SetValue()" type="button">Set Value</button>
          <button (click)="PatchValue()" type="button">Patch Value</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>       
</form>