<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="tryit.asp-filename=trybs_navbar&stacked=h.html#">Home</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a [routerLink]="['/AddControls']">Add Controls</a></li>
      <li><a [routerLink]="['/Employee']">Employee Details</a></li>
      <li><a [routerLink]="['/login']">Login</a></li>
      <li><a >Page 3</a></li>
    </ul>
  </div>
</nav>

<div>
  
</div>
  
<div class="container">
    <router-outlet></router-outlet>
</div>
<div class="container">
  <ag-grid-angular
    
    class="a ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    >
</ag-grid-angular>
</div>
<div class="container">
<!-- app.component.html -->
<div class="container text-center">
 
    <button mat-button (click)="openDialog('Add',{})" mat-flat-button color="primary">Add Row</button>
   
    <table mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8">
   
      <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
   
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
   
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
   
      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element" class="action-link"> 
          <a (click)="openDialog('Update',element)">Edit</a> | 
          <a (click)="openDialog('Delete',element)">Delete</a>  
        </td>
      </ng-container>
   
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
   
  </div>
</div>
</body>
</html>
