<form #regForm='ngForm' (ngSubmit)="Register(regForm)">
        <div class="imgcontainer">
          <img src="./assets/img_avatar2.png" alt="Avatar" class="avatar">
        </div>
      
        <div class="container">
            <label for="gender"><b>Gender</b></label>
            <select name="gender" ngModel >
                <option selected="selected">select</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
            </select>
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required ngModel> 
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required ngModel>
      
          <button type="submit">Login</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>       
</form>
      