<form class="form-inline" [formGroup]="FormGroup" (ngSubmit)="addControls()">
  <label for="controlname">Control Name:</label>
  <input type="text" id="name" placeholder="Enter control name" formControlName="name" name="name">
  <label for="type">Control Type:</label>
  <input type="text" id="text" placeholder="Enter control type" formControlName="type" name="type">

  <br/>
  <button type="submit">Submit</button> <span></span>
  <Button (click)="addControls()">+</Button>
</form>
<form class="form-inline" [formGroup]="FormGroup">

  <div *ngFor="let imp of  frm; index as i ">

    <input [type]="imp.type" [id]="imp.name" placeholder="Enter email" [name]="imp.name">
    <!-- <span (click)="rempveControl(i)" *ngIf="i!=0">-</span> -->
  </div>

  <ejs-grid [dataSource]="data" class="a" [allowPaging]='true' [allowSorting]='true' [allowFiltering]='true' [allowGrouping]='true'>
      <e-columns>
        <e-column field='make' headerText='Make'></e-column>
        <e-column field='model' headerText='Model'></e-column>
        <e-column field='price' headerText='Price'></e-column>
      </e-columns>
    </ejs-grid>


</form>